
h1 {
    /* Set text color to red */
    color: red;
    /* Set text-decoration to underline */
    text-decoration: underline;
    text-decoration-style: double;
    /* Set font-size to 200 pixels */
    font-size: 200px;


}
